// 下層ページの共通要素
.l-contents.l-profile {
  .Profile {
    padding: 2rem 0 3rem;
    @media #{$media-sp} {
      padding: 2rem 0 2rem;
    }
    &__ttl {
      font-size: 4rem;
      font-weight: bold;
      line-height: 1.2;
      color: #001e1d;
      letter-spacing: 0.2rem;
      @media #{$media-sp} {
        font-size: 3rem;
      }
    }
    &__txt {
      font-size: 2rem;
      color: #001e1d;
      @media #{$media-sp} {
        font-size: 1.6rem;
      }
    }
  }
  .Me {
    .icon-wrap {
      font-size: 12rem;
      line-height: 0.8;
      color: #001e1d;
      @media #{$media-sp} {
        font-size: 6rem;
      }
    }
    &-birthday {
      padding: 0 0 0 2rem;
      color: #001e1d;
      @media #{$media-sp} {
        padding: 0 0 0 1rem;
      }
      &-ttl {
        padding: 0 0 1rem 0;
        font-size: 2rem;
        line-height: 1;
        @media #{$media-sp} {
          font-size: 1.6rem;
        }
      }
      &-Name {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1;
        @media #{$media-sp} {
          font-size: 2rem;
        }
      }
    }
  }
  .left {
    width: 32rem;
    @media #{$media-sp} {
      width: 100%;
    }
  }
  .Me--hobby {
    width: calc(100% - 32rem);
    @media #{$media-sp} {
      width: 100%;
    }
    &--txt {
      width: 10rem;
      height: 10rem;
      margin: 0 0.7rem 1.5rem;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fffffe;
      cursor: pointer;
      background: #004643;
      border-radius: 100%;
      box-shadow: inset -0.5rem -0.5rem 0.7rem #07817b;
      transition-duration: 0.3s;
      @media #{$media-sp} {
        width: 7rem;
        height: 7rem;
        font-size: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem #d3d0d1, -0.5rem -0.5rem 0.5rem #d3d0d1, inset -1rem -1rem 1rem transparent,
          inset 0.5rem 0.5rem 1rem transparent;
      }
    }
  }
  .mytxt-wrap {
    &-ttl {
      position: relative;
      padding: 4rem 6rem;
      margin: 6rem 0 3.5rem;
      font-size: 2.4rem;
      font-weight: bold;
      color: #001e1d;
      background: #e8e4e6;
      border-radius: 10rem;
      box-shadow: inset -0.7rem -0.7rem 1rem #d3d0d1, inset 0.7rem 0.7rem 1rem #d3d0d1;
      @media #{$media-sp} {
        padding: 2rem 3rem;
        margin: 2rem 0 2.5rem;
        font-size: 2rem;
        line-height: 1.5;
        box-shadow: inset -0.3rem -0.3rem 0.3rem #d3d0d1, inset 0.3rem 0.3rem 0.3rem #d3d0d1;
      }
    }
    &-txt {
      padding: 5rem 6rem;
      font-weight: bold;
      color: #001e1d;
      background: #e8e4e6;
      border-radius: 1rem;
      box-shadow: inset -0.7rem -0.7rem 1rem #d3d0d1, inset 0.7rem 0.7rem 1rem #d3d0d1;
      @media #{$media-sp} {
        padding: 2rem 2rem;
      }
      p {
        margin: 0 0 1.5rem;
      }
    }
  }
}
