.l-contents.l-single {
  padding: 17rem 0 0 0;
  &.animeVer {
    background: #f3d2c1;
  }
  @media #{$media-sp} {
    padding: 10rem 0 0 0;
  }
  .Contents {
    &-wrap {
      width: calc(100% - 34rem);
      padding: 5rem;
      border-radius: 1rem;
      box-shadow: inset -1rem -1rem 1rem #bddfd5, inset 0.5rem 0.5rem 1rem #96bbb0;
      &.animeVer {
        box-shadow: inset -1rem -1rem 1rem #f8e5db, inset 0.5rem 0.5rem 1rem #d8b29f;
      }
      @media #{$media-sp} {
        width: 100%;
        padding: 2rem;
        box-shadow: inset -0.5rem -0.5rem 0.5rem #bddfd5, inset 0.5rem 0.5rem 0.5rem #96bbb0;
      }
    }
    .bgg {
      padding: 4rem 5rem;
      background: #fefefe;
      border-radius: 0.5rem;
      @media #{$media-sp} {
        padding: 1rem 1.5rem;
      }
    }
    .date {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      @media #{$media-sp} {
        font-size: 1.6rem;
      }
    }
    .cate {
      padding: 0 2rem;
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      @media #{$media-sp} {
        padding: 0 1rem;
        font-size: 1.6rem;
      }
    }
    &-title {
      padding: 0.5rem 0 1.5rem 0;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.5;
      color: #333;
      @media #{$media-sp} {
        padding: 0.5rem 0;
        font-size: 1.8rem;
      }
    }
    .wp-post {
      color: #333;
      h3 {
        padding: 0 0 0 0.5rem;
        margin: 1rem 0 0rem;
        &::before {
          position: relative;
          left: -0.5rem;
          display: inline-block;
          width: 2.3rem;
          height: 2.3rem;
          font-size: 1.5rem;
          color: #204495;
          content: "";
          background-image: url("../img/icon/h3.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @media #{$media-sp} {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      h4 {
        padding: 0 0 0 0.5rem;
        margin: 1rem 0 0rem;
        &::before {
          position: relative;
          left: -0.5rem;
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
          color: #204495;
          content: "";
          background-image: url("../img/icon/h4.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @media #{$media-sp} {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
      p {
        margin: 0.8em 0 1em;
        line-height: 1.8;
        @media #{$media-sp} {
          margin: 0rem 0 1.5rem;
          font-size: 1.4rem;
        }
      }
      p:not([class]):not(:last-child) {
        margin-bottom: 0.5em;
        @media #{$media-sp} {
          margin: 0 0 1rem;
        }
      }
    }
    .adsClass {
      @media #{$media-sp} {
        padding: 3rem 0 0;
        iframe {
          &.sp {
            position: relative;
            left: -1rem !important;
          }
        }
      }
    }
  }
  .sns-area {
    width: 20rem;
    margin: 7rem auto 0;
    font-size: 3rem;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 0.5rem;
    }
    .icon-facebook {
      color: #3b5998;
      background: #fff;
    }
    .icon-twitter {
      color: #fff;
      background: #1da1f2;
    }
    .icon-line {
      color: #00b900;
      background: #fff;
    }
  }
}
