// ヘッダーの高さ
$headerPC: 10rem;
$headerSP: 6rem;

.header {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 1000;
  width: 80%;
  min-width: 102rem;
  white-space: nowrap;
  transform: translateX(-50%);
  &__frame {
    padding: 0 10rem 0 7rem;
    background: #abd1c6;
    border-radius: 10rem;
    box-shadow: -0.6rem -0.6rem 0.6rem #bddfd5, 0.6rem 0.6rem 0.5rem #96bbb0;
  }
  &__base {
  }
  &__logo {
  }
  &__logo-img {
    display: block;
    max-width: 15rem;
  }
  &__logo-text {
    font-size: 4.6rem;
    font-weight: bold;
    color: #001e1d;
    // text-shadow: 1px 1px 1px #c9cacf, 2px 2px 2px #ddd, 3px 3px 2px #666;
    letter-spacing: 0.2rem;
  }
  &__nav {
    margin-right: 1rem;
  }
  @media screen and(min-width:768px) and(max-width:1080px) {
    min-width: 82rem;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    top: 0.8rem;
    width: 96%;
    min-width: 96%;
    max-height: 96%;
    &__frame {
      padding: 1rem 1.5rem 1rem 1rem;
      border-radius: 1rem;
      box-shadow: -0.5rem -0.5rem 0.5rem #bddfd5, 0.3rem 0.3rem 2.5rem #96bbb0;
    }
    &__base {
    }
    &__logo {
    }
    &__logo-img {
      max-width: 12rem;
    }
    &__logo-text {
      font-size: 2.8rem;
      font-weight: bold;
      color: #001e1d;
      text-shadow: 1px 1px 1px #c9cacf, 2px 2px 2px #ddd, 3px 3px 2px #666;
      letter-spacing: 0.2rem;
    }
    &__nav {
    }
  }
  // ↑SP相当幅
}

/*
 ########  ##     ## ##       ##       ########   #######  ##      ## ##    ##
 ##     ## ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ####  ##
 ########  ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ## ## ##
 ##        ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ##  ####
 ##         #######  ######## ######## ########   #######   ###  ###  ##    ##
*/
// プルダウンメニュー
.pulldown {
  &__head {
    height: $headerPC;
    padding: 2.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    color: #001e1d;
    text-shadow: 1px 1px 1px #c9cacf, 2px 2px 2px #ddd, 3px 3px 1px #888;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition-duration: 0.5s;
    &__mini {
      display: block;
      font-size: 1.4rem;
      @media #{$media-sp} {
        padding: 0 0.5rem;
        font-size: 1.3rem;
      }
    }
    &-Txt {
      display: block;
      height: 100%;
      line-height: 1.5;
      text-align: center;
    }
  }
  &__body {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 3.5rem 0;
    background: #ddd;
    opacity: 0;
    transition-duration: 0.5s;
    transform: rotateX(90deg);
    transform-origin: 0 0;
  }

  &:hover {
    .pulldown {
      &__head {
        &::before {
          transform: none;
        }
      }
      &__body {
        opacity: 1;
        transform: rotateX(0);
      }
    }
  }
}

/*
  ######  ########          ##    ##    ###    ##     ##
 ##       ##     ##         ####  ##  ##   ##  ##     ##
  ######  ########  ####### ## ## ## ##     ## ##     ##
       ## ##                ##  #### #########  ##   ##
  ######  ##                ##    ## ##     ##    ###
*/
.spNav {
  position: fixed;
  top: 9rem;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-height: calc(100% - #{$headerSP});
  padding: 1rem 0;
  overflow-y: auto;
  transition-duration: 0.5s;
  transform-origin: 0 0;
  // ↓SP以外の幅
  @media #{$media-notsp} {
    top: $headerPC;
  }
  // ↑SP以外の幅
  &:not(.active) {
    visibility: hidden;
    transform: rotateX(90deg);
  }
  &__list {
    padding: 0 3.125%;
  }
  &__box {
    margin: 0 0 1.5rem;
  }
  &__item {
    position: relative;
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #001e1d;
    text-shadow: 1px 1px 1px #ccc, 2px 2px 1px #ccc, 2px 2px 0px #666;
    background: #abd1c6;
    border-radius: 1rem;
    box-shadow: -0.5rem -0.5rem 0.5rem #bddfd5, 0.4rem 0.4rem 0.3rem #96bbb0;
    .icon-allow {
      position: absolute;
      top: 50%;
      right: 2.3rem;
      transform: translateY(-50%);
    }
  }

  .md-acc {
    .acc-btn {
      position: relative;
      .icon {
        position: absolute;
        top: 50%;
        right: 2rem;
        z-index: 2;
        font-size: 1rem;
        transition-duration: 0.3s;
        transform: translate(0%, -50%);
      }
    }
    .acc-body {
      * {
      }
    }
    .acc-check:not(:checked) ~ {
      .acc-btn {
      }
      .acc-body {
      }
    }
    .acc-check:checked ~ {
      .acc-btn {
        .icon {
          transform: translate(0%, -50%) rotate(180deg);
        }
      }
      .acc-body {
        transition-duration: 1s;
        transform: none;
      }
    }
  }
}

/*
  ######  ########          ########  ######## ##    ##
 ##       ##     ##         ##     ##    ##    ####  ##
  ######  ########  ####### ########     ##    ## ## ##
       ## ##                ##     ##    ##    ##  ####
  ######  ##                ########     ##    ##    ##
*/
.spMenuBtn {
  $btnSize: $headerSP; //ボタン一辺の長さ
  $bar: 3px; //バーの太さ
  $posX: 1.3rem; //バーの左右の余白
  $posY: 1.55rem; //1,3本目のバーの上下の余白
  $barRadius: 0; //バーの角丸
  $barOffBG: #fff; //バーの背景OFF時
  $barOnBG: #fff; //バーの背景ON時
  $time: 0.5s; //アニメ時間　0.1s以上
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  cursor: pointer;
  background: #004643;
  border-radius: 100%;
  box-shadow: -0.5rem -0.5rem 0.7rem #bddfd5, 0.6rem 0.6rem 0.5rem #96bbb0;
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__bar {
    position: absolute;
    left: $posX;
    z-index: 2;
    display: block;
    width: calc(100% - #{$posX} * 2);
    height: $bar;
    background: $barOffBG;
    border-radius: $barRadius;
    transition-duration: $time;
    transform-origin: 50% 50%;
    &:nth-of-type(1) {
      top: $posY;
    }
    &:nth-of-type(2) {
      top: 50%;
      margin-top: $bar / -2;
    }
    &:nth-of-type(3) {
      bottom: $posY;
    }
  }
  &.active {
    .spMenuBtn {
      &__bar {
        background: $barOnBG;
        &:nth-of-type(1) {
          top: 50%;
          margin-top: $bar / -2;
          transition: top $time, margin $time, transform $time ease $time;
          transform: rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
          transition-delay: $time - 0.1s;
          transform: rotateY(90deg);
        }
        &:nth-of-type(3) {
          bottom: 50%;
          margin-bottom: $bar / -2;
          transition: bottom $time, margin $time, transform $time ease $time;
          transform: rotate(45deg);
        }
      }
    }
  }
}
