/*
 ##      ## ########     ###    ########
 ##  ##  ## ##     ##   ## ##   ##     ##
 ##  ##  ## ########  ##     ## ########
 ##  ##  ## ##   ##   ######### ##
  ###  ###  ##     ## ##     ## ##
*/
body {
  width: 100%;
  // min-width: 1200px;
  background: #ffc93c;
}
// ↓SP相当幅
@media #{$media-sp} {
  body {
    // min-width: 100%;
  }
  .sp-wrap {
    padding-right: $pad;
    padding-left: $pad;
  }
}
// ↑SP相当幅
// ↓SP以外の幅
@media #{$media-notsp} {
  .wrap {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
  }
}
// ↑SP以外の幅
@include pcWrapSize(1200); // PC用ラップサイズ .wrap.w○○○ を生成
@include pcWrapSize(1400);
/*
 ######## ######## ##     ## ########
    ##    ##         ## ##      ##
    ##    ######      ###       ##
    ##    ##         ## ##      ##
    ##    ######## ##     ##    ##
*/
//body,button,input,select,textareaのフォント設定
@include basefont {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: $fontColor;
}

a {
  color: $siteColor;
  text-decoration: none;
  &:link {
  }
  &:visited {
  }
  &:hover {
  }
  &:active,
  &:focus {
  }
}
p:not([class]):not(:last-child) {
  margin-bottom: 1em;
}

::selection {
  //選択範囲の装飾設定
  color: #fff;
  background: $siteColor;
}
