@keyframes OpAnime {
  0% {
    z-index: 1000;
    pointer-events: initial;
    opacity: 1;
  }
  80% {
    z-index: 1000;
    pointer-events: initial;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    z-index: -10;
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}
#Op--Animetion {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: slategray;
  opacity: 1;
  animation: OpAnime 1.5s 2.5s linear forwards;
  #makoblog_OP {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 60%;
    max-width: 70rem;
    transform: translate(-50%);
  }
  #makoblog_OPJP {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;
    max-width: 26rem;
    transform: translate(-50%);
    @media screen and (min-width: 760px) and (max-width: 1200px) {
      top: 56%;
    }
    @media #{$media-sp} {
      top: 47%;
      width: 35%;
    }
  }
  .cls-1 {
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    stroke-width: 1px;
    animation: svg-anime 2s 0.5s linear forwards;
    &.JP {
      animation: svg-animeJP 2.2s 0.5s linear forwards;
    }
  }
  @keyframes svg-anime {
    0% {
      stroke-dashoffset: 400px;
    }
    80% {
      fill: slategray;
      stroke-dashoffset: 0;
    }
    100% {
      fill: #fff;
      stroke-dashoffset: 0;
    }
  }
  @keyframes svg-animeJP {
    0% {
      stroke-dashoffset: 400px;
    }
    80% {
      fill: slategray;
      stroke-dashoffset: 0;
    }
    100% {
      fill: #fff;
      stroke-dashoffset: 0;
    }
  }
}
